#!/bin/bash

export NODE_HOME=/usr/local

export IDM_USER=username
export IDM_PASS=password

export IDS_FOLDER=IDs
export SOS_FOLDER=SOs
export DPPS_FOLDER=DPPs
export SUBS_FOLDER=SUBs
export SODATA_FOLDER=SOdata
export ACCESS_TOKEN_FILENAME=access_token.id
export RANDOM_ACCESS_TOKEN_FILENAME=random_access_token.id
export SUBSCRIPTION_FILENAME=subscription.json
export SAMPLE_STREAM=detected

export CB_NODES=node1:node2:node3
export CB_PORT=8091
export CB_BUCKETS="serviceobjects soupdates actuations subscriptions privatebucket zsecserviceobjects zsecsoupdates zsecactuations zsecsubscriptions zsecreputation"


export ES_NODES=node1:node2:node3
export ES_PORT=9200
export ES_INDICES="sodescriptions soupdates subscriptions zseclivewo zsecsoupdates zsecsubscriptions"

export KS_NODES=node1:node2:node3
export KS_PORT=22133

export ST_NODES=node1:node2:node3
export ST_PORT=8099

export API_PRIV_NODES=node1:node2:node3
export API_PRIV_NOSEC_PORT=8080
export API_PRIV_SEC_PORT=8090

export API_PUB_NODES=api.servioticy.com
export API_PUB_NOSEC_PORT=80
export API_PUB_SEC_PORT=9090

export BR_NODE=nodeX
export BR_BROKER_PORT=61680
export BR_USER=apollo_user
export BR_PASS=apollo_password
export EXPECTED_APOLLO_TCP_CONNECTORS=4

export ROOT=`pwd`
export SCRIPTS=$ROOT/scripts
export TMPDIR=$ROOT/tmp
