<!DOCTYPE html>
<html>
<head>
<style>
table {
    width:100%;
}
tr {
    width:20;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: black;
    color: white;
}

</style>
</head>
<body>

<table>
  <col width="20">
  
  <tr>
    <th>Status</th>
    <th>Description</th>    
  </tr>
  